footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background-color: rgb(0, 140, 255);
    color: white;
    font-family: 'Montserrat';
    font-size: 1.3vw;
    border: 2px solid black;
    border-radius: 10px;
}
footer p {
    position: relative;
    text-align: center;
    margin-top: 0.2%;
}
#fechar_texto {
    position: absolute;
    right: 1%;
    top: 15%;
    border-radius: 10px;
    width: 3.5vw;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    z-index: 2;
}
#fechar_texto:hover {
    background-color: deepskyblue;
    color: white;
}