footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9%;
    background-color: #1e3a5f;
    color: white;
    font-family: 'Montserrat';
    font-size: 1vw;
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 10px;
    display: none;
}
footer p {
    position: relative;
    text-align: center;
    margin-top: 0.2%;
}
