@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900&display=swap');

* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    overflow: hidden;
}
body {
    min-width: 1200px;
    background-size: cover;
    background-color: rgb(209, 209, 209);
    position: relative;
}

@keyframes carregamento {
    from {
        bottom: 156.2%;
    }
    to {
        bottom: 56.2%;
    }
}

#pagina {
    display: none;
    animation: carregamento 1s 1 forwards;
    position: absolute;
}

    /* NAV BAR */
nav ul {
    list-style: none;
    background-color: #003785;
    align-items: center;
    padding: 0 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
nav ul li {
    flex: 1 0 100px;
    margin: 5px;
    text-align: center;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 2vh;
    display: block;
}
nav ul li a:hover {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.562);
}
.conta {
    position: relative;
    right: 4vw;
}
#logo {
    font-size: 2vw;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    right: 12vw;
    text-align: start;
    white-space: nowrap;
    margin-left: 18vw;
}
nav ul li a:hover {
    text-shadow: 0rem 0rem 10px rgb(255, 255, 255);
}