@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 3vh;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #4bb7ff;
    align-items: center;
    padding: 0 2vh;
}

nav ul li {
    margin: 2vh;
    font-size: large;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 2vh;
    display: block;
}

nav ul li a:hover {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.562);
}

nav .conta {
    margin-left: 20vw;
    display: flex;
    gap: 2vh;
}

nav .conta li {
    margin: 1vw;
}

#logo {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 9vw;
    text-align: start;
    white-space: nowrap;
}
