@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900&display=swap');

/* PAGINA */

#entrar {
    width: 30%;
    height: 100%;
    font-size: 3rem;
}
#info-projet {
    background-color: #2195f3f5;
    margin: 4vh;
    border-radius: 3vh;
    padding-bottom: 2vh;
}
#info-projet * {
    margin: 0% 0% 1% 2%;
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
}
#info-projet > p {
    font-size: larger;
    
}
#info-projet h1 {
    padding-top: 1vh;
}