@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body, html {
    height: 100%;
    overflow: hidden;
    font-size: 3vh;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav ul {
    list-style: none;
    display: flex;
    background-color: #003785;
    align-items: center;
    padding: 0 2vh;
}

nav ul li {
    margin: 2vh;
    font-size: large;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 2vh;
    display: block;
}

nav ul li a:hover {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.562);
}

nav .conta {
    margin-left: 20vw;
    display: flex;
    gap: 2vh;
}

nav .conta li {
    margin: 1vw;
}

#logo {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 9vw;
    text-align: start;
    white-space: nowrap;
}
#info-projet{
    background-color:#2195f3f5;
    margin: 4vh;
    border-radius: 3vh;
}
#info-projet * {
    margin: 0% 2% 0% 2%;
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
}
#info-projet > p {
    font-size: larger;
    margin: 2%;
}