body {
    overflow: hidden;
}
#correainformatica{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    height: 70%;
}
@keyframes proximo{
    from { 
        left: 55%;
    }
    to { 
        left: -55%;
    }
}

@keyframes voltar {
    from { 
        left: -55%;
    }
    to { 
        left: 55%;
    }
}

#img_empresa {
    background-color: #34343438;
    width: 30%;
}
#hub_contato {
    width: 60%; 
    height: 100%;
    background:#0272d4;
    color: white;
    text-align: center;
    padding: 0 0 3% 0%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
#hub_contato p{
    text-align: left;
    margin-left: 1%;
}
#hub_contato #redes_socias {
    position: relative;
    top: 10%;
}
#hub_contato .rede {
    font-family: 'Montserrat', sans-serif;
    margin: -2% 6% 0% 6%;
    font-weight: bold;
}
.rede img {
    background-color: white;
    padding: 2%;
    border-radius: 100%;
    cursor: pointer;
    width: 6vw;
}
#redes_socias {
    display: flex;
    background: #003785;
    color: #E4E4E4;
    width: 100%;
    height: 30.24%;
    white-space: nowrap;
}

.rede {
    margin-right: 11%;
}

#redes_socias div p {
    text-decoration-line: none;
    color: white;
    font-size: 1vw;
}
a {
    text-decoration-line: none;
    color: white;
}   
#logo_loja {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    padding: 1%;
    background: #0272d4;
}
#img_empresa h2{
    position: relative;
    top: 20%;
    transform: translate(-50%,);
    text-align: center;
    font-family: 'Madimi One';
    font-size: 250%;
    color: #0272d4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
.seta { 
    width: 50px;
    height: 50px;
    background-color: #0272d4 ;
    box-shadow: 3px 3px 0px #000000;
    cursor: pointer;
    color: white;
}
.seta::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 16px solid transparent;  
    border-left: 28px solid white;
    transform: translateX(10px);
}
.seta#seta_esquerda:before {
    transform: rotate(180deg) translateX(10px);
}
#seta_direita {
    right: 2%;
    position: absolute;
    top: 45%;
}
#seta_esquerda{
    position: absolute;
    top: 45%;
    left: 2%;
    display: none;
}