#contact{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    height: 60%;
}
#img_empresa {
    background-color: #343434;
    width: 40%;
}
#hub_contato {
    width: 50%; 
    height: 100%;
    background:#0272d4;
    color: white;
    text-align: center;
    padding: 0 0 5% 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#hub_contato p{
    text-align: left;
}
#hub_contato #redes_socias {
    position: relative;
    top: 25%;
}
#hub_contato .rede {
    font-family: 'Montserrat', sans-serif;
    margin: -7% 6% 0% 6%;
    font-weight: bold;
}
.rede img {
    background-color: white;
    padding: 5%;
    border-radius: 100%;
    cursor: pointer;
}
#redes_socias {
    display: flex;
    background: #343434;
    color: #E4E4E4;
    width: 95%;
    height: 30%;
    white-space: nowrap;
}

.rede {
    margin-right: 11%;
}

#redes_socias div p a {
    text-decoration-line: none;
    color: white;
}

#Instagram {
    position: relative;
    top: 0;  /* Adjust to make sure it's within the container */
}
a {
    text-decoration-line: none;
    color: white;
}   
#logo_loja {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    padding: 1%;
    background: #0272d4;
}
#img_empresa h2{
    position: relative;
    top: 20%;
    transform: translate(-50%,);
    text-align: center;
    font-family: 'Poppins';
    color: #0272d4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}