@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 3vh;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #4bb7ff;
    align-items: center;
    padding: 0 2vh;
}

nav ul li {
    margin: 2vh;
    font-size: large;
    font-size: 1.3rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 2vh;
    display: block;
    font-family: 'roboto';
}

nav ul li a:hover {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.562);
}

nav .conta {
    margin-left: 20vw;
    display: flex;
    gap: 2vh;
}

nav .conta li {
    margin: 1vw;
}

#logo {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 9vw;
    text-align: start;
    white-space: nowrap;
}
.produto {
    border: 5px solid black;
    border-radius: 20px;
    justify-items: center;
    min-width: 20vw;
    max-width: 50vh;
    min-height: 50vh;
    margin-left: 10%;
}
.produto > p{
    margin-top: 10%;
}
.produto button {
    font-weight: bold;
}
