@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 3vh;
}
nav ul {
    list-style: none;
    
    background-color: #003785;
    align-items: center;
    padding: 0 2vh;
    display: flex;
}
nav ul li {
    flex: 1;
    margin: 2vh;
    font-size: large;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 2vh;
    display: block;
}

nav ul li a:hover {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.562);
}

.conta{
    position: relative;
    right: 4vw;
}

#logo {
    font-size: 1.6vw;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    right:12vw;
    text-align: start;
    white-space: nowrap;
    padding-left:18vw;
}