@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    overflow: hidden;
}
body {
    min-width: 1200px;
    background-size: cover;
    background-color: rgb(209, 209, 209);
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#vendas_tabela {
    border-radius: 5vh;
    height: 85vh;
    width: 95vw;
    display: flex;
    overflow: auto;
}
#vendas_tabela * {
    position: relative;
    border: 2px solid black;
    flex: 1;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
}
#vendas_tabela input {
    top: 10%;
    width: 20vw;
    height: 7vh;
}
#vendas_tabela button {
    top: 10%;
    width: 20vw;
    height: 7vh;
    background: none;
}
#adicionar_produtos {
    position: relative;
    box-shadow: 0px 0px 15px;
    width: 30%;
    border-radius: 10px;
    left: 65%;
    margin: 5vh 5vh 5vh 5vh;
}
#Enviar_venda {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12vw;
    height: 7vh;
}