@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    overflow: hidden;
}
body {
    min-width: 1200px;
    font-size: 3vh;
    background-size: cover;
    background-color: rgb(209, 209, 209);
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: rgb(0, 140, 255);
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10px;
}
footer p {
    position: relative;
    text-align: center;
    top: 20%;
}
#fechar_texto {
    position: absolute;
    right: 1%;
    top: 15%;
    border-radius: 10px;
    width: 3.5vw;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    z-index: 1;
}
#fechar_texto:hover {
    background-color: deepskyblue;
    color: white;
}