@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 3vh;
}
nav ul {
    list-style: none;
    display: flex;
    background-color: #003785;
    align-items: center;
    padding: 0 2vh;
}

nav ul li {
    margin: 2vh;
    font-size: 3.4vh;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 2vh;
    display: block;
}

nav ul li a:hover {
    animation: typing 2s steps(24),blink 0.4s step-end infinite alternate;
    text-shadow: 0rem 0rem 10px rgb(255, 255, 255);
}
@keyframes typing{
    from {
        width: 0;
    }
    to{
        width: 100%;
    }
}
nav .conta {
    margin-left: 20vw;
    display: flex;
    gap: 2vh;
}

nav .conta li {
    margin: 1vw;
}

#logo {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 9vw;
    text-align: start;
    white-space: nowrap;
}
#opcoes-acoes {
    background-color: #2195f3f5;
    margin: 4vh;
    border-radius: 3vh;
}
#opcoes-acoes * {
    margin: 0% 2% 0% 2%;
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#opcoes-acoes ul li {
    list-style-type: none;
    margin: 2vh 2vh 2vh 2vh;
    font-family: 'Montserrat';
}
