.produto {
  width: 250px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  transition: transform 0.3s ease;
  height: 47vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#produtos{
  display: flex;
}
.produto:hover {
  transform: scale(1.03);
}

.produto img {
  max-width: 100%;
  border-radius: 8px;
}

.produto h3 {
  font-size: 18px;
  margin: 10px 0 5px;
  color: #333;
  margin-top: auto;
}

.produto .descricao {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.produto .preco {
  font-weight: bold;
  color: #28a745;
  font-size: 16px;
  margin-bottom: 12px;
  display: block;
}

.produto button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  position: static;
  margin-top: auto;
}

.produto button:hover {
  background-color: #0056b3;
}