@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 3vh;
    height: 100vh;    
    margin: 0;   
    overflow: hidden          
}

    /* NAVEGAÇÃO */

nav ul {
    list-style: none;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 0 2vh; 
    max-width: 100vw;
}
nav ul li {
    margin: 2vh;
    font-size: large;
}
nav {
    width: 100vw;
    background-color: #003785;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 2vh;
    display: block;
}

nav ul li a:hover {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.562);
}

nav .conta {
    margin-left: 20vw;
    display: flex;
    gap: 2vh;
}

nav .conta li {
    margin: 1vw;
}

#logo {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 9vw;
    text-align: start;
    white-space: nowrap;
}



    /* PAGINA */ 


form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#vendas_tabela {
    border-radius: 5vh;
    height: 85vh;
    width: 95vw;
    display: flex;
}
#vendas_tabela * {
    position: relative;
    border: 2px solid black;
    flex: 1;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
}
#vendas_tabela input {
    top: 10%;
    width: 20vw;
    height: 7vh;
}
#vendas_tabela button {
    top: 10%;
    width: 20vw;
    height: 7vh;
    background: none;
}
@keyframes identifier {
    
}
#adicionar_produtos {
    position: relative;
    box-shadow: 0px 0px 15px;
    width: 30%;
    border-radius: 10px;
    left: 65%;
    margin: 5vh 5vh 5vh 5vh;
}

#Enviar_venda {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12vw;
    height: 7vh;
    font-size: 1rem;
}
#fechar_texto {
    position: relative;
    left: 87%;
    top: 1.5vh;
    border-radius: 10px;
    height: 100%;
    width: 3.5vw;
    font-size: 2.2rem;
    cursor: pointer;
    text-align: center;
}
#fechar_texto:hover {
    background-color: deepskyblue;
    color: white;
}
